{% load static %}
<!doctype html>
<html lang="en">

    <head>

        <meta charset="utf-8" />
        <title> Password Reset </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesdesign" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'backend/images/favicon.ico' %}">

        <!-- Bootstrap Css -->
        <link href="{% static 'backend/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'backend/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'backend/css/app.min.css' %}" rel="stylesheet" type="text/css" />

        <style>
        .account-form input {
            border: 2px solid #ccc;
            height: calc(2em + .75rem + 2px);
           }

        .account-form input:focus {
            border-color: #1497ff;
            box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(255, 0, 0, 0.6);
        }
        </style>

    </head>
    <body>
        {% if request.user.is_staff == True %}
        <script>
            window.location.href = '{% url "dashboard:dashboard" %}';
        </script>
        {% endif %}
        <div class="container-fluid p-0">
            <div>
                <div class="authentication-page-content p-4 d-flex justify-content-center align-items-center min-vh-100">
                    <div style="width:40%">
                        <div>
                            <div class="p-2 mt-5">
                                <form class="account-form p-4 rounded col-lg-8 mx-auto" method="post" action="{% url 'admin_user:password_reset' %}">
                                    <p class="h3 mb-4 font-weight-bold">Forgotten your password?</p>
                                    <p>Enter your e-mail address to obtain a new password.</p>
                                    {% if form.errors %}
                                    <div class="alert alert-primary" role="alert">
                                    {% for field in form %}
                                    {{field.errors|striptags}}
                                    {% endfor %}
                                    </div>
                                    {% endif %}
                                    {% csrf_token %}
                                    <label class="small font-weight-bold">{{ form.email.label}}</label>
                                    {{ form.email }}
                                    <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit"value="Send e-mail">Send e-mail</button>
                                    <p class="text-center"><a href="{% url 'admin_user:login' %}">Login</a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- JAVASCRIPT -->
        <script src="{% static 'backend/libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'backend/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'backend/libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'backend/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'backend/libs/node-waves/waves.min.js' %}"></script>

        <script src="{% static 'backend/js/app.js' %}"></script>
    </body>
</html>
