{% extends 'include/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block my_title %} Raw Materials {% endblock my_title %}
{% block my_css %}
<head>
    <style>
    #myDatatable_length > label{
            margin:15px;
    }
    @media only screen and (max-width: 1203px) {
        #hide-state {
            display: none;
        }
    }

    @media only screen and (max-width: 1339px) {
        #hide-gender {
            display: none;
        }
    }

    </style>
</head>
{%  endblock %}
{% block content %}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Raw Material List</h4>
        </div>
    </div>
</div>
            <!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="user_data" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Min Stock</th>
                            <th>Available Stock</th>
                            <th>Unit Type</th>
                            <th>Amount</th>
                            <th>Sell</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->


<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Products List</h4>
        </div>
    </div>
</div>
            <!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="product_data" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Sell</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

<script>
    $(document).ready(function () {


        $('#user_data').DataTable({

            "responsive": true,
            "processing": true,
            "serverSide": true,
            "ordering": false,
            "pagingType": "full_numbers",
            "ajax": "{% url 'raw:raw_material_list_data' %}",

            "columns": [
                { "data": "index" },
                { "data": "name" },
                { "data": "min_stock" },
                { "data": "available_stock" },
                { "data": "pk",
                    render: function (data, type, row) {
                        if (row.product_type == 1){
                            row =
                                `<select name="unit_type${data}" id="unit_type${data}">
                                <option value="" selected="">---------</option>
                                <option value="1">KG</option>
                                <option value="2">G</option>
                                <option value="3">MG</option>
                                </select>`
                        }
                        else if (row.product_type == 2){
                            row =
                                `<select name="unit_type${data}" id="unit_type${data}">
                                <option value="" selected="">---------</option>
                                <option value="4">L</option>
                                <option value="5">ML</option>
                                </select>`
                        }
                        else{
                            row =
                                `<select name="unit_type${data}" id="unit_type${data}">
                                <option value="" selected="">---------</option>
                                <option value="6">Pieces</option>
                                </select>`
                        }
                        return row
                    },
                },
                { "data": "pk",
                    render: function (data, type, row) {
                        row =
                        '<input type="number" min="1" name="bulk'+ data +'" id="bulk'+ data +'">'
                        return row
                    },
                },
                { "data": "pk",
                    render: function (data, type, row) {
                        row =
                        `<button class="btn btn-primary button-color" onclick="rawMaterialSell(${data})">Sell</button>`
                        return row
                    },
                },
            ],
        });



        $('#product_data').DataTable({

            "responsive": true,
            "processing": true,
            "serverSide": true,
            "ordering": false,
            "pagingType": "full_numbers",
            "ajax": "{% url 'product:product_list_data' %}",

            "columns": [
                { "data": "index" },
                { "data": "name" },
                { "data": "pk",
                    render: function (data, type, row) {
                        row =
                        '<input type="number" min="1" name="product_quantity'+ data +'" value="1" id="product_quantity'+ data +'">'
                        return row
                    },
                },
                { "data": "pk",
                    render: function (data, type, row) {
                        row =
                        `<button class="btn btn-primary button-color" onclick="productSell(${data})">Sell</button>`
                        return row
                    },
                },
            ],
        });
    });

    function rawMaterialSell(id){
        var unit_type = $("#unit_type"+id).val()
        var bulk = $("#bulk"+id).val()
        var dataArray = {"unit_type":unit_type,"bulk":bulk}
        var tmp = []
        if (unit_type && bulk > 0){
        }
        else{
            $.each(dataArray, function(key,value){
                console.log(key,value)
                if (!value || value <= 0){
                    tmp.push(key)
                }
            });

            errorData = tmp.join(' and ')

            $("body").append(
                `<div class="modal fade" id="rawModal" tabindex="-1" role="dialog"
                    aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p style="font-size:17px;">${errorData} value can not be empty or negative <p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>`
            )
            $('#rawModal').modal('show');
        return false;
        }
        dataArray["pk"] = id;
        dataArray['csrfmiddlewaretoken'] = '{{csrf_token}}';
        console.log(dataArray);

        $.ajax({
            url: '{% url "stock:stock_raw_sale" %}',
            type:"POST",
            data: dataArray,

            success: function (data) {
                location.reload();
            }
        })
        return false
    }

    function productSell(id){
        var product_quantity = $("#product_quantity"+id).val()
        if (!product_quantity || product_quantity <= 0){
            $("body").append(
                `<div class="modal fade" id="ProductModal" tabindex="-1" role="dialog"
                    aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p style="font-size:17px;">product_quantity value can not be empty or negative <p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>`
            )
            $('#ProductModal').modal('show');
        return false;
        }
        var productDataArray = {"product_quantity":product_quantity, "pk": id}
        productDataArray['csrfmiddlewaretoken'] = '{{csrf_token}}'

        $.ajax({
            url: '{% url "stock:stock_product_sale" %}',
            type:"POST",
            data: productDataArray,

            success: function (data) {
                location.reload();
            }
        })
        return false
    }
</script>



{% endblock %}